= Haml::Engine.new(File.read("app/partials/_head.haml")).render()
%body
  = Haml::Engine.new(File.read("app/partials/_navbar.haml")).render()
  = Haml::Engine.new(File.read("app/partials/_banner.haml")).render()
  = Haml::Engine.new(File.read("app/partials/_how-it-works.haml")).render()
  = Haml::Engine.new(File.read("app/partials/_features.haml")).render()
  = Haml::Engine.new(File.read("app/partials/_cta.haml")).render()
  = Haml::Engine.new(File.read("app/partials/_blog.haml")).render()
  = Haml::Engine.new(File.read("app/partials/_footer.haml")).render()
  = Haml::Engine.new(File.read("app/partials/_scripts.haml")).render()
